.contents ~ .mini-score{
    grid-column: 1 / 2;
    grid-row: 2/3;
}

.contents ~ .mini-done-booth{
    grid-column: 2 / 3;
    grid-row: 2/3;
}

.contents ~ .mini-ranking{
    grid-column: 3 / 4;
    grid-row: 2/3;
}

.map{
    background-color: grey;
    width: 100%;
    height: 300px;
}